@use 'variables' as *;

@use 'switch';
@use 'form';
@use 'header';
@use 'prompt';
@use 'preview';
@use 'pre-viewport';
@use 'panels';


body{
    font-family: $fuente-ubuntu;
    margin: 0;

    pre {
      font-family: $fuente-ubuntu;
    }
}
